<%= render :partial => './div_top' %>

<div class="container-fluid">
  <div class="row">
    <%= render :partial => './div_left' %>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

      <br />

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nome Pessoa</th>
          <th scope="col">Valor</th>
          <th scope="col">Descrição Tratamento</th>
          <th scope="col">Opções</th>
        </tr>
        </thead>
        <tbody>

        <% @receipts.each do |receipt| %>
          <tr>
            <td><%=receipt.patient.nome %></td>
            <td><%=receipt.valor %></td>
            <td><%=receipt.descricao_tratamento %></td>
            <td>
              <%= link_to 'Show', receipt_path(receipt) %> |
              <%= link_to 'Edit', edit_receipt_path(receipt) %>
            </td>
          </tr>
        <% end %>


        </tbody>
      </table>

      <button type="button" class="btn btn-primary btn-sm" onclick="location.href='/receipts/new'">Adicionar Novo Recibo</button>

    </main>
  </div>
</div>
